html {
  height: 100%;
}

body {
  min-height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #67748e;
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-weight: 400;
  color: #67748e;
  background-color: #e9ecef;
}

.brand-image {
  height: 30px;
  width: 30px;
  max-width: 30px;
}

.navbar-brand {
  padding: auto;
  margin: auto;
}

.nav-link {
  color: #67748e;
  font-size: 2vh;
  min-width: fit-content;
  width: fit-content;
  padding-left: 1vh;
  padding-right: 1vh;
  margin: auto;
}

.active, .nav-link:focus {
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  color: black;
}

.navbar {
  align-items: flex-start;
}

.navbar-wrapper {
  justify-content: space-between;
}

.profile-item {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.shadow {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
}

.gradient {
  background-image: linear-gradient(310deg,#1a65dc,#ff9900);
}


